//МИКСИНЫ
@import "mixins.scss";

//VARIABLES=====================================================================================================
$minwidth: 320px;
//VARIABLES=====================================================================================================

//CONNECTED FONTS===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext");
//CONNECTED FONTS===============================================================================================

//DEFAULT FONTS=================================================================================================
$fontfamily: "Roboto";
//DEFAULT FONTS=================================================================================================

//RESET=========================STYLES==========================================================================
@import "null.scss";

body {
	&.lock {
		overflow: hidden;
	}
}
//RESET=========================STYLES==========================================================================

//ОБОЛОЧКА======================================================================================================
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
//ОБОЛОЧКА======================================================================================================

//ОСНОВНАЯ=======================СЕТКА==========================================================================

//ОСНОВНАЯ=======================СЕТКА==========================================================================

//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ=================================================================
@import "header.scss";
@import "preview.scss";
@import "advice.scss";
@import "calculating.scss";
@import "menu.scss";
@import "order.scss";
@import "promotion.scss";
@import "modal.scss";
@import "footer.scss";
//ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ=================================================================

//ОСНОВНОЙ=======================БЛОК===========================================================================
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}
.divider {
	width: 330px;
	height: 1px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.5);
}
.title {
	font-size: 36px;
	font-weight: 400;
}
.hide {
	display: none;
}

.show {
	display: block;
}
.btn {
	font-size: 18px;
	font-weight: 700;
	padding: 22px 34px;
	box-shadow: 0 4px 15px #bdc7c0;
	cursor: pointer;
	border: 1px solid #bdc7c0;
	@include anim(0.3s, 0s);
	width: 228px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	&_white {
		color: #000;
		background-color: #fff;
	}
	&_dark {
		color: #fff;
		background-color: #303030;
	}
	&_min {
		height: 50px !important;
	}
	&:hover {
		box-shadow: 0 4px 30px #aaadab;
	}
}
.bg-yellow {
	position: absolute;
	width: 1109px;
	height: 780px;
	background: rgba(255, 242, 0, 0.2);
	z-index: -1;
	top: 50px;
}
.spiner {
	background: transparent;
	display: block;
	margin: 15px auto;
}
//ОСНОВНОЙ=======================БЛОК===========================================================================H
